<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<meta charset="UTF-8">
	<title>test2_angular</title>
</head>
<body ng-controller='Data_res'>
	<div>
		<h1>我的购物车&nbsp;{{global_val.title}}</h1>
		<div ng-repeat='val in vals'>
			<span>{{val.title}}</span>
			<input ng-model='val.app'>
			<span>价格：{{val.price}}</span>
			<span>{{item.price | currency}}</span>
			<span>总价：{{item.price * item.app | currency}}</span>
			<button ng-click='remove($index)'>删除</button>
		</div>	
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
	<script src="js/test1.js"></script> 

</body>
</html>